body {
   background-color: lightgray;
}
form {
   margin: 2vmin;
}

fieldset {
   background-color: antiquewhite;
   box-shadow: 0px 0px 3px 4px silver;
}

label.labelForm {
   width: 16vmin;
   display: inline-block;
   font-weight: bold;
}

span.error {
   color: red;
}

p.pSubmit {
   text-align: center;
}

input[type='submit'] {
   padding: 2vmin;
   border-radius: 6px;
   background-color: lightgreen;
}

input[type='submit']:hover {
   background-color: orange;
   cursor: pointer;
   box-shadow: 0px 0px 3px 3px lightgreen;
}

input#divMsjs {
   width: 80%;
   border: none;
   background-color: lightgray;
   color: black;
   text-align: center;
}